*.o
*.a
bin
fifi/src/fifi
fifi/src/fifi.h
mkfilter/src/gencode
mkfilter/src/mkaverage
mkfilter/src/mkfilter
mkfilter/src/mkshape
mkfilter/src/mkshapeargs
slow/src/fskrx.C
slow/src/modem
slow/src/progress.C
slow/src/v29rx.C
slow/src/v29tx.h
slow/src/v32rx.C
slow/src/v32tx.h
slow/src/v34rx.C
slow/src/v34tx.h
test/testBitBuffer
test/testThreadUtil
